/* Add your custom styles here */
* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  
}

.background{
  background: rgb(0, 0, 0, 0.7) url('backre.webp');
  background-size: cover;
  background-blend-mode: darken;
} 
header {
  
  color: black;
  padding: 45px;
  
}

.navbar {
  background-color: rgb(92, -18, 57);
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0px;
    cursor: pointer;
}
  


.navbar ul {
  display: flex;
  text-align: center;
  justify-content: center;
  cursor: pointer;

}

.navbar ul li {
  list-style: none;
  padding: 20px 30px;
}

.navbar ul li a {
  text-decoration: none;
  color: rgb(253, 250, 250);

}

.navbar ul li a:hover {
  color: rgb(238, 39, 39);
  
}

h1 {
  color: azure;
  text-align: center;
  margin-top: 50px;

}

section {
  padding: 20px;
  text-align: center;
  margin-top: 50px;
  color:aliceblue;
  padding-bottom: 180px;
  
}

/* ul {
  list-style-type: disc;
 } */


form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 35px 515px;
  
}

#candidatesList{
  list-style: none;
}

button{
  cursor: pointer;
}

input,
button {
  margin-bottom: 10px;
}

#results {
  display: none;
}


.space {
  margin: 20px 12px;
  list-style: none;
}

#benefits {
  margin-top: -120px;
  
}

